<h2>Need help?</h2>
Check out our <a href="http://obscurous.wikia.com/wiki/Obscuro.us_FAQ">FAQs</a>!

<h2>Can't find what you're looking for?</h2>
Contact us at <a href="mailto:ideallyhelp@gmail.com">ideallyhelp at gmail dot com</a>