<div class="page-header">
  <h1>Welcome to Obscuro.us!</h1>
</div>
<% if user_signed_in? %>
<p> Welcome back, <%= current_user.name || 'Buddddddy' %></p>
<% else %>
<p>New around here? <%= link_to 'Sign up', new_user_registration_path %></p>
<p>Already have an account? <%= link_to 'Login', new_user_session_path  %></p>
<% end %>
